* {
  margin: 0px;
  padding: 0px;
}
body {
  border-radius: 8px;
  background: #fff;
}
header h2 {
  color: #333;
  font-family: Inconsolata;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: -1.92px;
  text-transform: uppercase;
  padding-top: 35px;
  padding-left: 75px;
}
.scare-img {
  height: 500px;
  width: 500px;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 80px;
}
.info-container {
  display: flex;
  flex-direction: column;
  text-align: start;
}
.container-title {
  color: #333;
  font-family: monospace;
  font-size: 64px;
  font-weight: 700;
  letter-spacing: 2.24px;
  width: 570px;
  padding-bottom: 36px;
}
.container-description {
  color: #4f4f4f;
  font-family: monospace;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0.84px;
  width: 340px;
  padding-bottom: 65px;
}
.btn {
  width: 216px;
  height: 68px;
  background: #333;
  color: #fff;
  font-family: monospace;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0.49px;
  text-transform: uppercase;
}
.btn:hover {
  background-color: #caaaaa;
  cursor: pointer;
}
.foot {
  color: #bdbdbd;
  text-align: center;
  font-family: Montserrat;
  font-size: 15px;
  font-weight: 500;
  padding-bottom: 24px;
}
.name {
  color: #bdbdbd;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 700;
  text-decoration-line: underline;
}

@media screen and (max-width:576px) {
    .container{
        flex-direction: column;
    }
    header h2{
        padding-top: 20px;
        padding-left: 20px;
    }
    .scare-img{
        height: 250px;
        width: 250px;
    }
    .container-title{
          width: 394px;
          letter-spacing: 1.24px;
          font-size: 48px;
    }
    .info-container {
        padding-left: 24px;
    }
}